body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Asegura que el tamaño del elemento incluya bordes y relleno */
}

nav {
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    width: 100%;
    background-color: brown;

    p {
        font-size: 45px;
        -webkit-text-stroke: black 0.2px;
        color: aliceblue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.Hero {
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 100%;

    .HeroConten {
        height: 850px;
        width: 100%;
        background-image: url('../image/fondocoches.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:cover;
        object-fit: cover;
        opacity: 1;
        text-align: center;

        img {
            display: none;
        }

        h1 {
            font-size: 70px;
            -webkit-text-stroke: black 0.2px;
            color: aliceblue;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        p {
            font-size: 45px;
            -webkit-text-stroke: white 0.5px;

        }

    }

    .Conten {
        height: 300px;
        width: 100%;
        text-align: center;
        h2 {
            font-size: 70px;
            -webkit-text-stroke: black 0.5px;
            color: aliceblue;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        }

    }
}

footer {
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    width: 100%;
    background-color: brown;
    h3 {
        font-size: 45px;
        -webkit-text-stroke: black 0.2px;
        color: aliceblue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

}